body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-heavy-dark;
}
.heading-primary {
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: $color-ultra-light;
    &-main {
        display: block;
        font-size: $small-font-size;
        font-weight: 900;
        letter-spacing: .5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    &-secodary {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: .5rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}

.heading-secondary {
    font-size: $medium-font-size;
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;
    background-image: linear-gradient(to right, $color-medium, $color-heavy-dark);
    -webkit-background-clip: text;
    color: transparent;
}

.heading-tertiary {
    font-size: $smallest-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $smallest-font-size;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.heading-contact {
    color: $color-dark;
    font-size: $blog-title-font-size;
    span {
        display: block;
    }
}

