.u-center-text {
    text-align: center;
}
.u-padding-top-bottom {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}
.u-text-justify {
    text-align: justify;
}
.u-padding-left-right-small {
    padding: .5rem;
}
