.section-projects {
    height: 100vh;
    background-color: $color-light-grey;
}
.section-blog {
    background-color: $color-light-grey;
    overflow: hidden;
}
.section-contact {
    //  height: 100vh;
    // padding : 15rem 0;
    //background-image: linear-gradient(to right bottom, $color-medium, $color-Light);
}


