.section-projects {
    height: 100vh;
    background-color: $color-light-grey;
}

.section-services {
    
}

.section-current-projects {
    
}

.section-contact {
    background-color: #89f7fe;
    padding: 15rem 5rem;
}
.contact {
    background-image: url(../images/leopard-2.jpg);
}