$color-heavy-dark : #0b2d4d;
$color-dark : #1d4e6d;
$color-medium : #348faa;
$color-Light : #85cdde;
$color-ultra-light : #d1e6f6;
$color-light-grey : #f7f7f7;


// grid
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-on: 2rem;

//font-sizes 
$blog-title-font-size : 1.8rem;
$smallest-font-size : 1.6rem;
$tiny-font-size : 1.4rem;
$small-font-size: 2.4rem;
$medium-font-size: 3.2rem;
